</body>
   <footer class="bg-dark text-white">


 <h2 class="usuario">Sobre nosotros</h2>
  

        <div class="container">
            <nav class="row">
                <a href="/" class="col-4 text-reset text-uppercase align-items-center">
                    <img src="/icono.png" width="50px" height="50px" class="icon mr-2" alt="Logo principal">  MW!
                </a>
                <ul class="col-5 list-unstyled">
                    <li>¿Quienes somos?</li>
                    <li>¿Tienes preguntas?</li>
                    <li>Contactanos al: 5585428956</li>
                    <li>Contactanos al: 5983265952</li>
                </ul>
                <ul class="col-3 list-unstyled"">
                    <li class="font-weight-bold text-uppercase">Redes sociales</li>
                    <li> <a href="#">   <i class="fab fa-facebook-f"> </i> </a> </i></li>
                    <li> <a href="#">   <i class="fab fa-twitter">  </a></i> </a> </li>
                    <li> <a href="#">   <i class="fab fa-instagram"> </a></i></li>
                </ul>
            </nav>
            <nav class="row">
                <ul> 
                    <li class="li-footer list-unstyled">
                        © 2021 Mariposa World! Todos los derechos reservados
                    </li>
                </ul>
            </nav>


</footer>
</html>