<%-include('partials/header');-%>

<h1 class="title">Seccion de busqueda</h1>
        <br>

        <h5 class="title">¿Te interesa alguna mariposa en especifico?</h5>
        <div class="cont-input-btn">
                        <input type="" class="form-control td" placeholder="Escribe su nombre" >
                        <br>
                        <select class="form-select"> <option>Elige una alcaldia</option>
                                <option>Álvaro Obregón</option>
                                <option>Azcapotzalco</option>
                                <option>Benito Juárez</option>
                                <option>Coyoacán</option>
                                <option>Cuajimalpa de Morelos</option>
                                <option>Cuauhtémoc</option>
                                <option>Gustavo A. Madero</option>
                                <option>Iztacalco</option>
                                <option>Iztapalapa</option>
                                <option>Magdalena Contreras</option>
                                <option>Miguel Hidalgo</option>
                                <option>Milpa Alta</option>
                                <option>Tláhuac</option>
                                <option>Tlalpan</option>
                                <option>Venustiano Carranza</option>
                                <option>Xochimilco</option>
                        </select>
                        <br>
                        <button class="btn btn-outline-success bc">Buscar</button>
                        <br>
        </div>

        <div class="gallery-container">
                <div class="gallery--item">
                        <img src="/buscarMariposas/MexicanYellow.jpg" class="gallery--img" alt="Imagen de mariposa yellow">
                        
                </div>
                <div class="gallery--item">
                        <h2 class="gallery-title">Mariposa 1</h2>
                        <div class="bc">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                        </div>
                </div>
                <div class="gallery--item">
                        <img src="/buscarMariposas/Monarch.jpg" class="gallery--img" alt="Imagen de mariposa monarca">
                      
                </div>
                <div class="gallery--item">
                        <h2 class="gallery-title">Mariposa 2</h2>
                        <div class="bc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                        </div> 
                </div>
                <div class="gallery--item">
                        <img src="/buscarMariposas/Queen.jpg" class="gallery--img" alt="Imagen de mariposa reina">
                </div>
                <div class="gallery--item">
                        <h2 class="gallery-title">Mariposa 3</h2>
                        <div class="bc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                        </div>
                </div>
                <div class="gallery--item">
                        <img src="/buscarMariposas/salomeYellow.jpg" class="gallery--img" alt="Imagen de mariposa salome">
                </div>
                <div class="gallery--item">
                        <h2 class="gallery-title">Mariposa 4</h2>
                        <div class="bc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                        </div>
                </div>
                <div class="gallery--item">
                        <img src="/buscarMariposas/YellowAngledS.jpg" class="gallery--img" alt="Imagen de mariposa Yellow Angled">
                </div>
                <div class="gallery--item">
                        <h2 class="gallery-title">Mariposa 5</h2>
                        <div class="bc">
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                        </div>
                </div>

        </div>



<%-include('partials/footer');-%>