<%-include('partials/header');-%>

<!-- CARROUSEL-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/fondo1.jpg" class="d-block w-100" alt="Mariposa ali sobre una planta">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/fondo2.jpg" class="d-block w-100" alt="Mariposa blanca sobre flor roja">
        <div class="carousel-caption">
        </div>
      </div>
      <div class="carousel-item">
        <img src="/fondo3.jpg" class="d-block w-100" alt="Mariposa blanca sobre flor blanca">
        <div class="carousel-caption">
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>

    <div class="c-txt">
        <h1 class="m-title">Bienvenido a Mariposa World!</h1>
        <br>

        <h3 class="m-title">Objetivo</h3>
        <p class="text">
        Crear un sistema en forma de página web que recolecte datos de distintos tipos de mariposas para así conservar, fomentar y diligar toda la diversidad de especies que se ubican en la ciudad de México, el funcionamiento de este sistema será que cualquier persona pueda acceder a la información de cada mariposa para su estudio o curiosidad desde cualquier dispositivo con conexión a Internet.
        Al contar con un gran número de mariposas en la ciudad de México se podrá llevar a cabo diversas investigaciones que nos ayuden a recolectar información para la representación de las diversas especies de mariposas que existen, de igual manera en caso de que esta página tenga gran apoyo por el público, se podría incrementar el número de páginas para así tener cobertura en más estados de la república mexicana y fomentar la litura y cuidado de estos animales tan hermosos.
        </p>
        <br>
        <img src="republica.gif" alt="Imagen de la republica">
        <h3 class="m-title">Alcance</h3>
        <p class="text">Este proyecto se realizará por medio de la creación de una página web en la que se llevara a cabo una investigación profunda sobre mariposas, la finalidad de esta página es la divulgación de información sobre una especie tan bonita como las mariposas, ya que, al ser un tema tan complicado, creemos pertinente hacer un portal de información. Además de ayudar a centros de investigación que tengan la necesidad de encontrar información. 
        </p>
        <br>
        <img src="fondo-obj.jpg" alt="Fondo de mariposas">
        
    </div>





<%-include('partials/footer');-%>