<%-include('partials/header');-%>

<h1 class="title">Bienvenido Administrador!</h1>
<br>
<div class="gallery-container">
  <div class="gallery--item">
          <img src="/buscarMariposas/MexicanYellow.jpg" class="gallery--img" alt="Imagen de mariposa yellow">
          
  </div>
  <div class="gallery--item">
          <h2 class="gallery-title">Mariposa 1</h2>
          <div class="bc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                <form action="/editarMariposa" method="GET">
                <button class="btn btn-success">Actualizar</button>      
                </form>
                <button class="btn btn-danger" href="#">Eliminar</button>
          </div>
  </div>
  <div class="gallery--item">
          <img src="/buscarMariposas/Monarch.jpg" class="gallery--img" alt="Imagen de mariposa monarca">
        
  </div>
  <div class="gallery--item">
          <h2 class="gallery-title">Mariposa 2</h2>
          <div class="bc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                <form action="/editarMariposa" method="GET">
                <button class="btn btn-success">Actualizar</button>      
                </form>
                <button class="btn btn-danger" href="#">Eliminar</button>
          </div>
  </div>
  <div class="gallery--item">
          <img src="/buscarMariposas/Queen.jpg" class="gallery--img" alt="Imagen de mariposa reina">
  </div>
  <div class="gallery--item">
          <h2 class="gallery-title">Mariposa 3</h2>
          <div class="bc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                <form action="/editarMariposa" method="GET">
                <button class="btn btn-success">Actualizar</button>      
                </form>
                <button class="btn btn-danger" href="#">Eliminar</button>
          </div>
  </div>
  <div class="gallery--item">
          <img src="/buscarMariposas/salomeYellow.jpg" class="gallery--img" alt="Imagen de mariposa salome">
  </div>
  <div class="gallery--item">
          <h2 class="gallery-title">Mariposa 4</h2>
          <div class="bc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                <form action="/editarMariposa" method="GET">
                <button class="btn btn-success">Actualizar</button>      
                </form>
                <button class="btn btn-danger" href="#">Eliminar</button>
          </div>
  </div>
  <div class="gallery--item">
          <img src="/buscarMariposas/YellowAngledS.jpg" class="gallery--img" alt="Imagen de mariposa yellow Angled">
  </div>
  <div class="gallery--item">
          <h2 class="gallery-title">Mariposa 5</h2>
          <div class="bc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus cumque esse fugiat! Facilis inventore at fuga. Eum beatae sed voluptate. Corporis explicabo omnis repudiandae in, harum rem. Error et excepturi nemo aut commodi debitis architecto itaque pariatur esse sint expedita eos adipisci quibusdam natus quisquam iusto, eaque eius beatae fugit ad tenetur nulla ut quae optio. Impedit, assumenda cumque! Aperiam, nobis consequuntur iusto error maxime ex officiis commodi. Enim unde assumenda eaque suscipit porro, maxime, sapiente veniam fugit iure earum alias placeat, natus mollitia sequi asperiores quidem corrupti saepe ducimus? Quia rerum quos delectus corrupti similique veniam perspiciatis quam qui!</p>
                <form action="/editarMariposa" method="GET">
                <button type="submit" class="btn btn-success">Actualizar</button>      
                </form>
                <button class="btn btn-danger" href="#">Eliminar</button>
          </div>
  </div>

</div>












<%-include('partials/footer');-%>